@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


html {
  scroll-behavior: smooth;
}

/* body with gradient background*/
body{
  background: linear-gradient(to bottom, #F7FBFF, #F7FBFF,#F7FBFF,lightgray,lightblue) fixed;
  padding-left: 2em;
  padding-right: 2em;
}

/* default navbar */
navbar-default {
  background-color: white;
  border: none;
}

/* Change h1 elements to imported font */
h1 {
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
}

/* Change h2 elements to imported font */
h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6em;
}

/* Change h3 elements to imported font */
h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4em;
  text-align: left;
  text-transform: none;
}

h5 {
  text-align: center;
}
section {
  height: 95vh;
  padding-bottom: 6em;
}
/* Container for holding entire image gallery */
.gallery{
  gap: 2em;
  display: flex;
  z-index: 1;
  place-content: center;
  padding-top: 2em;
  padding-bottom: 70px;
  animation: fadeIn 4s;
}

/* Landing page image with rounded borders */
.gallery img {
  height: 19rem;
  padding: .25rem;
  transition: all 1s;
  border-radius: 3%;
  border: .35rem solid #ddd;
  border-image: url(https://64.media.tumblr.com/5d7ab997c9daa879a320f9ef21e895b7/tumblr_ooeddrvOJE1uzwgsuo1_400.gif) 30;
}

/* Hover effect to remove grayscale filter and scale images to 102.5% */
section img:hover {
  filter: grayscale(0%);
  transform: scale(1.05);
}

/* Greeting text with animated background*/
.greeting{
  vertical-align: text-top;
  background-image: url(https://64.media.tumblr.com/8f174c60a60e1dbc52f8ddb4ebf47e42/953a007324f420a5-af/s400x600/5cb8d10cfd200debdd813037650d3971dcc35c05.gif);
  text-transform: none;
  background-size: auto auto;
  background-clip: border-box;
  background-size: 250% auto;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 9em;
  text-align:center;
  animation: fadeIn 3s;
  padding-bottom: .1em;
}
.text{
 width: 40vw;
 float: left;
}
.blurb{
  width: 45vw;
  float: left;
  padding-left: 2em;
}

.fig{
  width: 40vw;
  float: right;
  padding-bottom: 2em;
  transition: all 1s;
}

.fig img{
  place-content: center;
  height: 25em;
  padding: .25rem;
  transition: all 1s;
  border-radius: 3%;
  border: .35rem solid #ddd;
  border-image: url(https://64.media.tumblr.com/5d7ab997c9daa879a320f9ef21e895b7/tumblr_ooeddrvOJE1uzwgsuo1_400.gif) 30;
}

figcaption{
  place-content: center;
  padding-top: 1em;
  font-size: 1.2em;
}

.catalog{
  width: 95vw;
}

.catalog img {
  height: 22em;
  width: 20em;
  gap: 1em;
  padding: .5rem;
  transition: all 1s;
  border-radius: 3%;
  border: .25rem solid #ddd;
}
.catalog img:hover {
  transform: scale(1.05);
}

.person img {
  height: 30em;
  width: 30em;
  padding: .5rem;
  transition: all 1s;
  border-radius: 3%;
  border: .5rem solid #ddd;
  border-image: url(https://64.media.tumblr.com/5d7ab997c9daa879a320f9ef21e895b7/tumblr_ooeddrvOJE1uzwgsuo1_400.gif) 30;
}
.person img:hover {
  transform: scale(1.03);
}


/* Fade-in animation for gallery and welcome text */
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

 /* ===== Scrollbar CSS ===== */
    /* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #b79cbf #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: lightgray;
  border-radius: 10px;
}