@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
  min-height: 100%; 
  width:100%;
  background-size: cover; 
  position: absolute; 
  background: linear-gradient(to bottom left, #F7FBFF, #F7FBFF,silver) fixed;/*
  background-image: url(https://64.media.tumblr.com/341276c09d2acd8631adcc749362fc52/5d2c79847ceed11c-1d/s400x600/0f76998d82b1e8eb5670df7397a3ae6fcfb54833.gif);*/
}
navbar-default {
  background-color: inherit;
  border: none;
}
/* Change header text to imported font */
h2 {
  font-family: 'Open Sans', sans-serif;
}

/* Make text visible on inputs */
.gallery{
  padding-left:150px;
  padding-top: 20px;
  animation: fadeIn 3s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
img {
  
  transition: all .99s;
  filter: grayscale(100%);
  border-radius: 15px;
}
img:hover {
  filter: grayscale(0%);
  transform: scale(1.025);
}
.sections {
  display: grid;
  align-content: center;
}
.test{
  vertical-align: text-top;
  background-image: url(https://64.media.tumblr.com/341276c09d2acd8631adcc749362fc52/5d2c79847ceed11c-1d/s400x600/0f76998d82b1e8eb5670df7397a3ae6fcfb54833.gif);

  text-transform: none;
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 10s radial infinite;
  font-size: 150px;
  text-align:left;
  animation: fadeIn 3s;
  padding-bottom: 0px;
}
